doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Di Gi
        link(rel="stylesheet" href="css/libs.min.css")
        link(rel="stylesheet" href="css/style.min.css")
        link(rel="shortcut icon" href="images/favicon.ico" type="image.png")

    body
        .wrapper
            .content
                header.header 
                    .container
                        .header__inner
                            .logo
                                a(href="#").logo__link
                                    img(src="images/logo.png" alt="logo").logo__link-img
                            nav.menu
                                button.menu__btn
                section.head(style='background-image: url(../images/bg-head.jpg);')
                    .top-slider
                        .top-slider__item
                            h3.top-slider__title МЫСЛИ ГЛОБАЛЬНО
                            p.top-slider__text Di Gі - это диджитал агентство полного цикла, направленное на самый лучший результат наших клиентов в маркетинге, продажах и управлении 
                            button.top-slider__btn ПОДРОБНО
                        .top-slider__item
                            h3.top-slider__title МЫСЛИ ГЛОБАЛЬНО
                            p.top-slider__text Di Gі - это диджитал агентство полного цикла, направленное на самый лучший результат наших клиентов в маркетинге, продажах и управлении 
                            button.top-slider__btn ПОДРОБНО
                        .top-slider__item
                            h3.top-slider__title МЫСЛИ ГЛОБАЛЬНО
                            p.top-slider__text Di Gі - это диджитал агентство полного цикла, направленное на самый лучший результат наших клиентов в маркетинге, продажах и управлении 
                            button.top-slider__btn ПОДРОБНО
                section.call
                    .container
                        .call__inner
                            .call__box 
                                h5.call__title Вы полюбите нас с первой встречи!
                                p.call__text Мы предоставляем комплексный подход к продвижению компании, продуктов и услуг в цифровой сфере.
                            button.call__btn ПЕРЕЗВОНИТЕ МНЕ
                section.services
                    .container
                        .services__inner
                            .services__head
                                h4.services__title.title  Сервис
                                p.services__descr От идеи до незабываемого и измеримого результата.
                                p.services__text Интеграция безупречного производства, передовых технологий и тщательного измерения производительности
                            .services__items
                                .services__item
                                    .services__item-inner
                                        img.services__item-img(src="images/serv-1.png" alt="icon")
                                        h6.services__item-title СТРАТЕГИЯ
                                        p.services__item-text Создадим уникальный и удобный дизайн..
                                        a.services__item-link(href="#") ПОДРОБНЕЕ  
                                .services__item
                                    .services__item-inner
                                        img.services__item-img(src="images/serv-2.png" alt="icon")
                                        h6.services__item-title АНАЛИЗ
                                        p.services__item-text Создадим уникальный и удобный дизайн..
                                        a.services__item-link(href="#") ПОДРОБНЕЕ 
                                .services__item
                                    .services__item-inner
                                        img.services__item-img(src="images/serv-3.png" alt="icon")
                                        h6.services__item-title СОЦ СЕТИ
                                        p.services__item-text Создадим уникальный и удобный дизайн..
                                        a.services__item-link(href="#") ПОДРОБНЕЕ 
                                .services__item
                                    .services__item-inner
                                        img.services__item-img(src="images/serv-4.png" alt="icon")
                                        h6.services__item-title РАЗВИТИЕ
                                        p.services__item-text Создадим уникальный и удобный дизайн..
                                        a.services__item-link(href="#") ПОДРОБНЕЕ 
                                .services__item
                                    .services__item-inner
                                        img.services__item-img(src="images/serv-5.png" alt="icon")
                                        h6.services__item-title КОНТЕНТ
                                        p.services__item-text Создадим уникальный и удобный дизайн..
                                        a.services__item-link(href="#") ПОДРОБНЕЕ 
                                .services__item
                                    .services__item-inner
                                        img.services__item-img(src="images/serv-6.png" alt="icon")
                                        h6.services__item-title ДИЗАЙН UX
                                        p.services__item-text Создадим уникальный и удобный дизайн..
                                        a.services__item-link(href="#") ПОДРОБНЕЕ 
                                .services__item
                                    .services__item-inner
                                        img.services__item-img(src="images/serv-7.png" alt="icon")
                                        h6.services__item-title ТАРГЕТИРОВАННАЯ РЕКЛАМА
                                        p.services__item-text Создадим уникальный и удобный дизайн..
                                        a.services__item-link(href="#") ПОДРОБНЕЕ 
                                .services__item
                                    .services__item-inner
                                        img.services__item-img(src="images/serv-8.png" alt="icon")
                                        h6.services__item-title ПРОДУКТ
                                        p.services__item-text Создадим уникальный и удобный дизайн..
                                        a.services__item-link(href="#") ПОДРОБНЕЕ 
                section.project
                    .container
                        h4.project__title.title Наши Проекты
                        .project__items
                            .project__item
                                .project__item-img(style="background-image: url(images/project-1.jpg)")
                                    .project__item-inner
                                        a.project__item-info(href="#")
                                            img(src="images/info.svg" alt="")
                                        a.project__item-search(href="#")
                                            img(src="images/search.svg" alt="")
                                a(href="#").project__item-link Lalique бутик
                            .project__item
                                .project__item-img(style="background-image: url(images/project-2.jpg)")
                                    .project__item-inner
                                        a.project__item-info(href="#")
                                            img(src="images/info.svg" alt="")
                                        a.project__item-search(href="#")
                                            img(src="images/search.svg" alt="")
                                a(href="#").project__item-link Строительство домов
                            .project__item
                                .project__item-img(style="background-image: url(images/project-3.jpg)")
                                    .project__item-inner
                                        a.project__item-info(href="#")
                                            img(src="images/info.svg" alt="")
                                        a.project__item-search(href="#")
                                            img(src="images/search.svg" alt="")
                                a(href="#").project__item-link Кофейня
                            .project__item
                                .project__item-img(style="background-image: url(images/project-4.jpg)")
                                    .project__item-inner
                                        a.project__item-info(href="#")
                                            img(src="images/info.svg" alt="")
                                        a.project__item-search(href="#")
                                            img(src="images/search.svg" alt="")
                                a(href="#").project__item-link Уникальные туры
                section.team
                    .container
                        .team__inner
                            img.team__images(src="images/team.jpg" alt="")
                            .team__content
                                h4.team__title.title Команда
                                p.team__text Наша команда - это наша самая большая ценность. Мы трудились, чтобы собрать группу  экспертов, чьи навыки дополняют друг друга. У членов нашей команды разные истории, но мы разделяем общую страсть к идеалу. Мы верим, чтобы оставаться профессионалом, нужно развиваться, поэтому мы постоянно ищем способы, как стать лучше в том, что мы делаем.
                                button.team__btn СМОТРЕТЬ ВИДЕО






    .footer
        script(src="js/jquery.js")
        script(src="js/libs.min.js")
        script(src="js/main.js")