doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Document
        link(rel="stylesheet" href="css/libs.min.css")
        link(rel="stylesheet" href="css/style.min.css")
        link(rel="shortcut icon" href="images/favicon.ico" type="image.png")

    body
        .wrapper
            .content








            .footer
        script(src="js/jquery.js")
        script(src="js/libs.min.js")
        script(src="js/main.js")